@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
  background: rgb(23, 26, 33);
}

pre > code {
  background: none !important;
}

*:not(pre) > code {
  background: rgba(49, 70, 73);
  padding: 0.2rem;
  border-radius: .2rem;
}

ol > li > p {
  display: inline-block;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

p {
  margin: 0 0 1rem 0;
}

.edgeLabel {
  background-color: rgb(23, 26, 33) !important;
  color: rgb(226 232 240) !important;
}
